<ion-header>
  <ion-toolbar class="banktheme">
    <ion-title class="textcolor"> 
      หน้าบวก
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">ตัวตั้ง</ion-label>
    <ion-input type='number' [(ngModel)]="val_1"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">ตัวบวก</ion-label>
    <ion-input  type='number'  [(ngModel)]="val_2"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">ผลลัพ</ion-label>
    <ion-input type='number' value='{{val_cal}}'></ion-input>
  </ion-item>

  <ion-button expand="block" (click)=" calculettor(val_1,val_2)" class="banktheme">คำนวณ</ion-button>
</ion-content>